@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #e5d452cc, #D9E76C);
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    color: black;
}

nav {
    background-color: #537D8D;
    padding: 5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: #D9E76C;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

nav > a:hover {
    text-decoration: underline;
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.384);
}

.imgfundoanime {
    background-color: lightgrey;
    text-align: center;
    height: 150px;
}

section {
    background-color: white;
}

.animetitulo {
    font-size: 1.6em;
    padding: 5px;
    color: #AC3931;
}

article > h2 {
    font-size: 0.9em;
    padding: 5px;
}

article > p {
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

article > aside {
    background-color: #D9E76C;
    text-align: center;
    font-size: 0.9em;
}

footer {
    background-color: black;
    color: white;
    padding: 4px;
    margin: 0px;
    text-align: center;
}

footer > p {
    margin: 0px;
}