@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(189, 252, 202);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(11, 179, 45);
}

h1#principal {
    text-align: center;
    background-color: rgb(11, 179, 45);
    color: white;
}

h2 {
    color: rgb(69, 110, 77);
}